In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
st = pd.read_csv("winter.csv", index_col = 3, parse_dates = True)
st.head()

            departamento  clase  familia  ExisUnidades  CantidadVendida
FechaCorte
2016-01-31             6    601   601001         52733              487
2016-07-31             3    316   316124      13588712            10724
2014-08-31             2    211   211079       9464523             9688
2014-09-30             4    403   403088        481827              614
2014-10-31             2    210   210029       4677398             4613