In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("fb.csv",
                index_col = 0)
data.shape

/home/david/anaconda2/lib/python2.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(1244092, 42)

In [3]:
data = data.iloc[:1244096, :]
data.shape

(1244092, 42)

In [4]:
data = data.drop(["PROV_CUENTA"], axis = 1)
data = data.drop("PROV_TIPO_DOCUMENTO", axis = 1)
data = data.drop("PROV_NUM_DOCUMENTO",axis = 1)
data = data.drop("PROV_FEC_APER",axis = 1)

In [5]:
data.shape

(1244092, 38)

In [6]:
y = data[["ALTURA_MORA", "MORA_MAXIMA"]].copy()
X = data.drop(["ALTURA_MORA", "MORA_MAXIMA"], axis=1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state = 0)
X = y = 0

In [8]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((870864, 36), (870864, 2), (373228, 36), (373228, 2))

In [9]:
from sklearn import tree

In [10]:
clf = tree.DecisionTreeRegressor()

In [11]:
clf.fit(X_train, y_train.iloc[:,:])

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [12]:
clf.score(X_test, y_test.iloc[:,:])

0.9983580567977536

In [13]:
X_test.iloc[0]

MES_1       0.0
MES_2       0.0
MES_3       0.0
MES_4     222.0
MES_5     192.0
MES_6     161.0
MES_7     130.0
MES_8     100.0
MES_9      69.0
MES_10     39.0
MES_11      8.0
MES_12      0.0
MES_13      0.0
MES_14      0.0
MES_15      0.0
MES_16      0.0
MES_17      0.0
MES_18      0.0
MES_19      0.0
MES_20     41.0
MES_21     10.0
MES_22      0.0
MES_23      0.0
MES_24      0.0
MES_25      0.0
MES_26      0.0
MES_27      0.0
MES_28      0.0
MES_29      0.0
MES_30      0.0
MES_31      0.0
MES_32      0.0
MES_33      0.0
MES_34      0.0
MES_35      0.0
MES_36      0.0
Name: 263378, dtype: float64

In [14]:
res = clf.predict([X_test.iloc[0]])
res

array([[  0., 222.]])

In [15]:
y_test.iloc[0]

ALTURA_MORA      0.0
MORA_MAXIMA    222.0
Name: 263378, dtype: float64

In [16]:
X_test.head()

,MES_1,MES_2,MES_3,MES_4,MES_5,MES_6,MES_7,MES_8,MES_9,MES_10,...,MES_27,MES_28,MES_29,MES_30,MES_31,MES_32,MES_33,MES_34,MES_35,MES_36
263378,0.0,0.0,0.0,222.0,192.0,161.0,130.0,100.0,69.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
884609,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
136789,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
185029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
489782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21.0,51.0,21.0,21.0,20.0,21.0,0.0,21.0,18.0,0.0

In [17]:
y_test.head()

        ALTURA_MORA  MORA_MAXIMA
263378          0.0        222.0
884609          1.0          1.0
136789          0.0          0.0
185029          0.0          9.0
489782          0.0         51.0

In [18]:
res = clf.predict([X_test.iloc[4]])
res

array([[ 0., 56.]])

In [19]:
y_test.iloc[4]

ALTURA_MORA     0.0
MORA_MAXIMA    51.0
Name: 489782, dtype: float64