In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("crx.data", header=None)

In [4]:
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [31]:
y = data.pop(15)
y.head()

0    0
1    0
2    0
3    0
4    0
Name: 15, dtype: int8

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test, y_train, y_test = train_test_split(data,y, test_size = 0.3)

In [34]:
from sklearn.ensemble import RandomForestClassifier

/home/david/anaconda2/lib/python2.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [35]:
model = RandomForestClassifier(n_estimators=100)
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [36]:
prediccion = model.predict(x_test)

In [37]:
from sklearn import metrics
metrics.accuracy_score(y_test,prediccion)

0.8888888888888888

In [38]:
x_test[2:3]

    0      1    2   3   4   5   6    7   8   9   10  11  12  13   14
66   0  36.00  1.0   1   0   1   7  2.0   1   1  11   0   0   0  456

In [39]:
prediccion = model.predict(x_test[2:3])
print(prediccion)

[0]

In [40]:
y_test[2:3]

66    0
Name: 15, dtype: int8