In [1]:
#Importamos las librerias necesarias
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import cross_validation

/home/david/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#Abrimos el archivo con los datos historicos de las partidas ganadas
X_historico = pd.read_csv('tictac_final.csv', sep=' ', header = None)
X_historico.head()

   0  1  2  3  4  5  6  7  8  9
0  1  1  1  1 -1 -1  1 -1 -1  1
1  1  1  1  1 -1 -1 -1  1 -1  1
2  1  1  1  1 -1 -1 -1 -1  1  1
3  1  1  1  1 -1 -1 -1  0  0  1
4  1  1  1  1 -1 -1  0 -1  0  1

In [3]:
y_historico = X_historico.pop(9) #target

In [4]:
#Realizamos el split de los datos
X_train, X_test,y_train,y_test = train_test_split(X_historico, y_historico, test_size=0.3, random_state = 0)

#Vemos la cantidad de datos asignados en el split
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((670, 9), (670,), (288, 9), (288,))

In [5]:
#Definimos un arbol binario
arbol = DecisionTreeClassifier(random_state = 0, max_depth=2)

In [6]:
#Entrenamos nuestro arbol
arbol.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [25]:
arbol.score( X_test, y_test)

0.6840277777777778

In [26]:
cros_val= cross_validation.cross_val_score(arbol,X_train,y_train)
cros_val

array([0.67410714, 0.67713004, 0.70403587])

In [43]:
X_test[1:2]

     0  1  2  3  4  5  6  7  8
496  0  1 -1  1  1  1 -1 -1  0

In [44]:
prediccion = arbol.predict(X_test[1:2])
print(prediccion)

[1]

In [45]:
y_test[1:2]

496    1
Name: 9, dtype: int64