In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import cross_validation

/home/david/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
data = pd.read_csv('tictac_multi.csv', sep=' ', header = None)

In [4]:
data.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0   1  -1   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   1 NaN
1   1   0   1   0   0   0   0  -1   0   0   1   0   1   1   1   1   0   1 NaN
2   0   0   0   0   0   1   0   0   0   0   0   1   1   1   0   0   0   1 NaN
3   0   1   1   0   0   0   0  -1   0   1   0   0   0   0   0   0   0   0 NaN
4   1   1  -1   0   0   0   0  -1   0   0   0   0   1   0   1   1   0   1 NaN

In [5]:
data.pop(18) #NaN

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
6521   NaN
6522   NaN
6523   NaN
6524   NaN
6525   NaN
6526   NaN
6527   NaN
6528   NaN
6529   NaN
6530   NaN
6531   NaN
6532   NaN
6533   NaN
6534   NaN
6535   NaN
6536   NaN
6537   NaN
6538   NaN
6539   NaN
6540   NaN
6541   NaN
6542   NaN
6543   NaN
6544   NaN
6545   NaN
6546   NaN
6547   NaN
6548   NaN
6549   NaN
6550   NaN
Name: 18, Length: 6551, dtype: float64

In [6]:
data.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0   1  -1   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   1
1   1   0   1   0   0   0   0  -1   0   0   1   0   1   1   1   1   0   1
2   0   0   0   0   0   1   0   0   0   0   0   1   1   1   0   0   0   1
3   0   1   1   0   0   0   0  -1   0   1   0   0   0   0   0   0   0   0
4   1   1  -1   0   0   0   0  -1   0   0   0   0   1   0   1   1   0   1

In [7]:
y = data[[9,10,11,12,13,14,15,16,17]].copy()
X = data.drop([9,10,11,12,13,14,15,16,17], axis=1)

In [8]:
#Realizamos el split de los datos
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

#Vemos la cantidad de datos asignados en el split
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4585, 9), (4585, 9), (1966, 9), (1966, 9))

In [9]:
arbol = DecisionTreeClassifier(max_depth=18)
arbol.fit( X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=18,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [10]:
arbol.score(X_test,y_test)

0.762970498474059

In [11]:
cros_val= cross_validation.cross_val_score(arbol,X_train,y_train)
cros_val

array([0.6500981 , 0.63089005, 0.65052356])

In [12]:
X_test[1:2]

      0  1  2  3  4  5  6  7  8
1278  0  1  1 -1  1  1 -1  0 -1

In [13]:
prediccion = arbol.predict(X_test[1:2])
print(prediccion)

[[1. 0. 0. 0. 0. 0. 0. 1. 0.]]

In [14]:
y_test[1:2]

      9   10  11  12  13  14  15  16  17
1278   1   0   0   0   0   0   0   1   0

In [15]:
data = pd.read_csv('tictac_multi.csv', sep=' ', header = None)
data.pop(18) #NaN
data.head()
y = data[[9,10,11,12,13,14,15,16,17]].copy()
X = data.drop([9,10,11,12,13,14,15,16,17], axis=1)
#Realizamos el split de los datos
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state = 1)

#Vemos la cantidad de datos asignados en el split
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4585, 9), (4585, 9), (1966, 9), (1966, 9))

In [16]:
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_train, y_train)

NameError: name 'LinearRegression' is not defined